@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=swap");

img {
  height: 300px;
  width: 400px;
}

.logo {
  height: 200px;
  width: 200px;
}

h1 {
  text-align: center;
  font-family: Montserrat;
}

h2 {
  font-family: Montserrat;
}

.navbar {
  justify-content: space-evenly;
  border: 5px solid black;
  height: 60px;
  align-items: center;
  background-color: gray;
  color: yellow;
  font-size: 30px;
  font-family: Montserrat;
}
